@mixin transition {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@mixin fitimg {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

@mixin itemcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexitem {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin background_img($image, $bg-clr) {
  background-image: $image;
  background-color: $bg-clr;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




